.order-confirmation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  
  .order-confirmation-container h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .order-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 20px;
    width: 500px;
    margin-bottom: 30px;
  }
  
  .order-summary h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .order-summary p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .order-summary span {
    font-weight: bold;
  }
  
  .order-confirmation-number {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .order-confirmation-email {
    font-size: 18px;
    margin-bottom: 50px;
  }
  
  .order-confirmation-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .order-confirmation-button:hover {
    background-color: #3e8e41;
  }
  
  @media screen and (max-width: 600px) {
    .order-summary {
      width: 90%;
    }
  }
  